# Credenciales y Secretos
.env
credentials.json
token.json
secrets.toml
secret.toml

# Streamlit
.streamlit/secrets.toml
.streamlit/secret.toml

# Bases de datos y archivos temporales
*.sqlite3
*.db
*.log
*.bak
*.tmp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos virtuales y de empaquetado
venv/
.venv/
env/
.env/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# Sistema Operativo
.DS_Store
Thumbs.db
